@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Roboto:wght@100;300;400&display=swap");
* {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif; }

html {
  font-size: 62.5%;
  height: 100%; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2.5rem; }

h4,
p,
a {
  font-size: 2rem; }

#body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #080808; }
  #body #nav, #body #nav2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 40px;
    max-height: 50px;
    background: linear-gradient(to left, #6B757D, #899496, #97B0AD, #899496, #6B757D); }
    #body #nav a, #body #nav2 a {
      align-self: center;
      text-decoration: none;
      width: auto; }
      #body #nav a h1, #body #nav2 a h1 {
        font-size: 2rem;
        font-family: "Bungee", cursive;
        margin-left: 5px;
        margin-bottom: 0;
        color: #060606; }
        #body #nav a h1:hover, #body #nav2 a h1:hover {
          color: #003da0;
          transition: 300ms; }
    #body #nav .dis, #body #nav2 .dis, #body #nav .dis-2, #body #nav2 .dis-2 {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 30%;
      margin-bottom: 0px;
      padding-left: 0px;
      margin-right: 5px; }
      #body #nav .dis li, #body #nav2 .dis li, #body #nav .dis-2 li, #body #nav2 .dis-2 li {
        list-style: none; }
        #body #nav .dis li a, #body #nav2 .dis li a, #body #nav .dis-2 li a, #body #nav2 .dis-2 li a {
          font-size: 1.5rem;
          font-family: "Roboto", sans-serif;
          color: #060606; }
          #body #nav .dis li a:hover, #body #nav2 .dis li a:hover, #body #nav .dis-2 li a:hover, #body #nav2 .dis-2 li a:hover {
            color: #003da0;
            transition: 300ms; }
    #body #nav .dis-2, #body #nav2 .dis-2 {
      display: none; }
      #body #nav .dis-2 a, #body #nav2 .dis-2 a {
        width: 32px;
        display: flex;
        align-self: center; }
        #body #nav .dis-2 a img, #body #nav2 .dis-2 a img {
          width: 100%; }
    @media (max-width: 668px) {
      #body #nav .dis, #body #nav2 .dis, #body #nav .dis-2, #body #nav2 .dis-2 {
        display: none; }
      #body #nav .dis-2, #body #nav2 .dis-2 {
        display: flex;
        width: auto; }
        #body #nav .dis-2 a, #body #nav2 .dis-2 a {
          margin: 15px; } }
    @media (max-width: 380px) {
      #body #nav a h1, #body #nav2 a h1 {
        font-size: 1.8rem; }
      #body #nav .dis-2 a, #body #nav2 .dis-2 a {
        margin: 10px; } }
    @media (max-width: 330px) {
      #body #nav .dis-2 a, #body #nav2 .dis-2 a {
        margin: 5px; } }
    @media (max-width: 300px) {
      #body #nav a h1, #body #nav2 a h1 {
        font-size: 1.4rem; }
      #body #nav .dis-2 a, #body #nav2 .dis-2 a {
        width: 22px; } }
  #body #nav2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    min-height: 60px;
    max-height: none;
    background: rgba(24, 24, 24, 0.637); }
    #body #nav2 .dis-3 {
      width: 50px;
      margin-bottom: auto; }
      #body #nav2 .dis-3 img {
        width: 100%; }
    #body #nav2 .navbar {
      padding-top: 0px;
      padding-bottom: 0px; }
      #body #nav2 .navbar span {
        display: none; }
      #body #nav2 .navbar ul {
        padding: 0px; }
        #body #nav2 .navbar ul .nav-item {
          margin-inline: 5px; }
        #body #nav2 .navbar ul a {
          color: #ffebeb;
          padding: 0px; }
          #body #nav2 .navbar ul a:hover {
            color: #78b023;
            transition: 500ms;
            font-weight: 500; }
        #body #nav2 .navbar ul .dropdown-menu {
          background-color: #080808;
          border: #78b023 0.5px solid;
          margin-top: 5px;
          padding-block: 10px;
          border-radius: 10px; }
          #body #nav2 .navbar ul .dropdown-menu li {
            margin-inline: 10px; }
            #body #nav2 .navbar ul .dropdown-menu li a:hover {
              background-color: #080808; }
    @media (max-width: 768px) {
      #body #nav2 {
        display: flex;
        justify-content: flex-start;
        align-items: center; }
        #body #nav2 .navbar {
          padding-top: 10px;
          padding-bottom: 10px;
          width: 100%; }
          #body #nav2 .navbar button {
            border: none; }
          #body #nav2 .navbar li.nav-item {
            margin-top: 10px; }
            #body #nav2 .navbar li.nav-item a {
              font-size: 2rem; } }
    @media (max-width: 767px) {
      #body #nav2 .navbar span {
        display: flex;
        font-size: 1.8rem;
        color: #78b023; } }
    @media (max-width: 480px) {
      #body #nav2 .navbar ul .nav-item {
        margin-inline: 2.5px; }
      #body #nav2 .navbar li.nav-item a {
        font-size: 1.8rem; } }
    @media (max-width: 380px) {
      #body #nav2 .navbar li.nav-item a {
        font-size: 1.6rem; } }
  #body .bg__head {
    background: #080808;
    background-size: 100%; }
  #body .bg__vh {
    min-height: 100vh; }
  #body .bg__main-b {
    background-color: #080808; }
  #body .header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-block: 30px;
    background: linear-gradient(to bottom, #009900, #006600);
    color: #ffebeb; }
    #body .header h2 {
      font-size: 3.5rem; }
    #body .header .header__div {
      align-self: center;
      text-align: center;
      overflow: hidden;
      width: auto; }
    @media (max-width: 600px) {
      #body .header h2 {
        font-size: 3rem; } }
    @media (max-width: 480px) {
      #body .header h2 {
        font-size: 2.5rem; } }
  #body .main__ctc {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px; }
    #body .main__ctc .section__ctc {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: none;
      padding: 10px; }
      #body .main__ctc .section__ctc .article__ctc {
        display: flex;
        flex-direction: column;
        align-items: none;
        padding: 10px;
        margin-block: 10px; }
        #body .main__ctc .section__ctc .article__ctc h3 {
          text-align: center;
          align-self: center;
          margin-bottom: 10px;
          font-weight: 600;
          color: #ffebeb;
          font-weight: 400;
          width: 20%; }
      #body .main__ctc .section__ctc .form__ctc {
        width: 100%;
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: none; }
        #body .main__ctc .section__ctc .form__ctc .form__ctc2 {
          width: 40%;
          padding: 20px;
          align-self: center;
          display: flex;
          flex-direction: column;
          align-items: none;
          background: linear-gradient(to bottom, #009900, #006600);
          border-radius: 20px; }
          #body .main__ctc .section__ctc .form__ctc .form__ctc2 .form__ctc3 {
            align-self: center;
            width: 70%;
            display: flex;
            flex-direction: column;
            align-items: none;
            color: #ffebeb;
            font-weight: 400; }
          #body .main__ctc .section__ctc .form__ctc .form__ctc2 label {
            font-size: 1.5rem;
            margin-bottom: 5px; }
          #body .main__ctc .section__ctc .form__ctc .form__ctc2 input, #body .main__ctc .section__ctc .form__ctc .form__ctc2 textarea, #body .main__ctc .section__ctc .form__ctc .form__ctc2 .form__button button {
            box-shadow: 3px 3px #060606;
            margin-bottom: 10px;
            border: none;
            border-radius: 20px; }
          #body .main__ctc .section__ctc .form__ctc .form__ctc2 textarea {
            border-radius: 0px;
            max-width: 100%;
            min-width: 100%;
            max-height: 80%;
            min-height: 60%; }
          #body .main__ctc .section__ctc .form__ctc .form__ctc2 .form__button {
            display: flex;
            justify-content: center;
            align-items: center; }
            #body .main__ctc .section__ctc .form__ctc .form__ctc2 .form__button button {
              margin-bottom: 0px;
              font-size: 1.5rem;
              height: 25px;
              background-color: #ffebeb; }
              #body .main__ctc .section__ctc .form__ctc .form__ctc2 .form__button button:hover {
                background-color: #1717fd;
                transition: 300ms; }
              #body .main__ctc .section__ctc .form__ctc .form__ctc2 .form__button button span {
                margin: 25px; }
                #body .main__ctc .section__ctc .form__ctc .form__ctc2 .form__button button span:hover {
                  color: #ffebeb;
                  transition: 300ms; }
      #body .main__ctc .section__ctc .form__addrs, #body .main__ctc .section__ctc .form__perfil {
        width: 40%;
        padding: 20px;
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: none;
        background: linear-gradient(to bottom, #009900, #006600);
        border-radius: 20px;
        overflow: hidden; }
        #body .main__ctc .section__ctc .form__addrs .form__addrs2, #body .main__ctc .section__ctc .form__perfil .form__addrs2 {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: none;
          box-shadow: 3px 3px #060606;
          border-radius: 20px; }
          #body .main__ctc .section__ctc .form__addrs .form__addrs2 iframe, #body .main__ctc .section__ctc .form__perfil .form__addrs2 iframe {
            border-radius: 20px; }
      #body .main__ctc .section__ctc .form__perfil {
        width: 35%; }
        #body .main__ctc .section__ctc .form__perfil .form__img {
          text-align: center;
          margin-bottom: 10px; }
        #body .main__ctc .section__ctc .form__perfil .form__perfil2 {
          width: 70%;
          align-self: center;
          display: flex;
          flex-direction: column;
          align-items: none;
          color: #ffebeb;
          font-weight: 400;
          margin-bottom: 10px;
          margin-top: 20px; }
          #body .main__ctc .section__ctc .form__perfil .form__perfil2 label {
            text-align: justify;
            font-size: 1.5rem;
            margin-bottom: 5px; }
          #body .main__ctc .section__ctc .form__perfil .form__perfil2 input, #body .main__ctc .section__ctc .form__perfil .form__perfil2 .form__ctc .form__ctc2 textarea, #body .main__ctc .section__ctc .form__ctc .form__ctc2 .form__perfil .form__perfil2 textarea, #body .main__ctc .section__ctc .form__perfil .form__perfil2 .form__ctc .form__ctc2 .form__button button, #body .main__ctc .section__ctc .form__ctc .form__ctc2 .form__button .form__perfil .form__perfil2 button {
            box-shadow: 3px 3px #060606;
            margin-bottom: 10px;
            border: none;
            border-radius: 20px; }
          #body .main__ctc .section__ctc .form__perfil .form__perfil2 .form__checkbox {
            display: flex; }
            #body .main__ctc .section__ctc .form__perfil .form__perfil2 .form__checkbox input, #body .main__ctc .section__ctc .form__perfil .form__perfil2 .form__checkbox .form__ctc .form__ctc2 textarea, #body .main__ctc .section__ctc .form__ctc .form__ctc2 .form__perfil .form__perfil2 .form__checkbox textarea, #body .main__ctc .section__ctc .form__perfil .form__perfil2 .form__checkbox .form__ctc .form__ctc2 .form__button button, #body .main__ctc .section__ctc .form__ctc .form__ctc2 .form__button .form__perfil .form__perfil2 .form__checkbox button {
              margin-right: 5px; }
        #body .main__ctc .section__ctc .form__perfil .form__button {
          display: flex;
          justify-content: center; }
          #body .main__ctc .section__ctc .form__perfil .form__button button {
            font-size: 1.5rem;
            box-shadow: 3px 3px #060606;
            height: 25px;
            border: none;
            border-radius: 20px;
            background-color: #ffebeb; }
            #body .main__ctc .section__ctc .form__perfil .form__button button:hover {
              color: #1717fd;
              transition: 300ms; }
            #body .main__ctc .section__ctc .form__perfil .form__button button span {
              margin: 25px; }
              #body .main__ctc .section__ctc .form__perfil .form__button button span:hover {
                color: #ffebeb;
                transition: 300ms; }
      @media (max-width: 1100px) {
        #body .main__ctc .section__ctc .article__ctc h3 {
          width: 40%; }
        #body .main__ctc .section__ctc .form__ctc .form__ctc2, #body .main__ctc .section__ctc .form__addrs, #body .main__ctc .section__ctc .form__perfil {
          width: 50%; } }
      @media (max-width: 991px) {
        #body .main__ctc .section__ctc .article__ctc h3 {
          width: auto; }
        #body .main__ctc .section__ctc .form__ctc .form__ctc2, #body .main__ctc .section__ctc .form__addrs, #body .main__ctc .section__ctc .form__perfil {
          width: 60%; } }
      @media (max-width: 768px) {
        #body .main__ctc .section__ctc .form__ctc .form__ctc2, #body .main__ctc .section__ctc .form__addrs, #body .main__ctc .section__ctc .form__perfil {
          width: 85%; }
        #body .main__ctc .section__ctc .form__ctc .form__ctc2 .form__ctc3 {
          width: 80%; } }
      @media (max-width: 600px) {
        #body .main__ctc .section__ctc .form__ctc .form__ctc2, #body .main__ctc .section__ctc .form__addrs, #body .main__ctc .section__ctc .form__perfil {
          width: 80%; } }
      @media (max-width: 480px) {
        #body .main__ctc .section__ctc .form__ctc .form__ctc2, #body .main__ctc .section__ctc .form__addrs, #body .main__ctc .section__ctc .form__perfil {
          width: 90%;
          padding: 10px; } }
      @media (max-width: 380px) {
        #body .main__ctc .section__ctc .form__ctc .form__ctc2, #body .main__ctc .section__ctc .form__addrs, #body .main__ctc .section__ctc .form__perfil {
          width: 100%; } }
      @media (max-width: 295px) {
        #body .main__ctc .section__ctc {
          padding: 0; }
          #body .main__ctc .section__ctc .form__ctc .form__ctc2 .form__ctc3 {
            width: 95%; } }
  #body .bg__main {
    display: flex;
    flex-direction: column;
    align-items: none;
    width: 100%; }
    #body .bg__main .section__index, #body .bg__main .section__index-w, #body .bg__main .section__index-b {
      display: flex;
      flex-direction: column;
      align-items: none;
      align-self: center;
      padding: 10px;
      width: 100%; }
      #body .bg__main .section__index h2, #body .bg__main .section__index-w h2, #body .bg__main .section__index-b h2 {
        text-align: justify;
        color: #ffebeb;
        font-weight: 400;
        width: 90%;
        align-self: center;
        font-size: 2rem;
        margin-bottom: 15px; }
    @media (max-width: 768px) {
      #body .bg__main .section__index h2, #body .bg__main .section__index-w h2, #body .bg__main .section__index-b h2 {
        font-size: 1.8rem;
        width: auto;
        text-align: center; } }
    @media (max-width: 430px) {
      #body .bg__main .section__index h2, #body .bg__main .section__index-w h2, #body .bg__main .section__index-b h2 {
        font-size: 2rem;
        margin-bottom: 5px; } }
    @media (max-width: 320px) {
      #body .bg__main .section__index h2, #body .bg__main .section__index-w h2, #body .bg__main .section__index-b h2 {
        font-size: 1.6rem; } }
    @media (max-width: 300px) {
      #body .bg__main .section__index h2, #body .bg__main .section__index-w h2, #body .bg__main .section__index-b h2 {
        font-size: 1.4rem; } }
    #body .bg__main .container__carrousel {
      width: 90%;
      display: flex;
      align-self: center; }
      #body .bg__main .container__carrousel .carousel-item div {
        text-align: center; }
      #body .bg__main .container__carrousel .card {
        display: flex;
        flex-direction: row;
        align-items: none;
        background-color: rgba(24, 24, 24, 0.637);
        border-radius: 10px;
        border: #78b023 solid 0.1px; }
        #body .bg__main .container__carrousel .card .card__div {
          width: 60%; }
          #body .bg__main .container__carrousel .card .card__div img {
            width: 100%;
            border-radius: 10px 0px 0px 10px; }
            #body .bg__main .container__carrousel .card .card__div img:hover {
              transform: scale(0.995, 0.995);
              transition: 500ms;
              cursor: pointer; }
        #body .bg__main .container__carrousel .card .card-body {
          padding: 35px;
          width: 40%;
          display: flex;
          flex-direction: column;
          align-items: none;
          justify-content: center; }
          #body .bg__main .container__carrousel .card .card-body a {
            color: #ffebeb;
            font-size: 2rem;
            text-decoration: none;
            text-align: justify; }
            #body .bg__main .container__carrousel .card .card-body a:hover {
              color: #78b023;
              font-weight: 500;
              transition-delay: 150ms; }
          #body .bg__main .container__carrousel .card .card-body h3 {
            color: #ffebeb;
            text-align: justify;
            margin-bottom: 10px; }
            #body .bg__main .container__carrousel .card .card-body h3:hover {
              color: #78b023;
              font-weight: 500;
              transition-delay: 150ms; }
      #body .bg__main .container__carrousel .carousel-control-next,
      #body .bg__main .container__carrousel .carousel-control-prev {
        width: 5%; }
      @media (max-width: 1170px) {
        #body .bg__main .container__carrousel .card .card-body a {
          font-size: 1.8rem; }
        #body .bg__main .container__carrousel .card .card-body h3 {
          font-size: 2rem; } }
      @media (max-width: 991px) {
        #body .bg__main .container__carrousel .card .card__div {
          width: 60%; }
        #body .bg__main .container__carrousel .card .card-body {
          padding: 30px; } }
      @media (max-width: 850px) {
        #body .bg__main .container__carrousel .card .card-body a {
          font-size: 1.6rem; }
        #body .bg__main .container__carrousel .card .card-body h3 {
          font-size: 1.8rem; } }
      @media (max-width: 785px) {
        #body .bg__main .container__carrousel .card .card-body {
          padding: 0px;
          padding-inline: 20px; } }
      @media (max-width: 768px) {
        #body .bg__main .container__carrousel .card {
          display: flex;
          flex-direction: column;
          align-items: none;
          align-self: center; }
          #body .bg__main .container__carrousel .card .card__div {
            width: 100%; }
            #body .bg__main .container__carrousel .card .card__div img {
              width: 100%;
              border-radius: 10px; }
          #body .bg__main .container__carrousel .card .card-body {
            padding: 5px;
            width: 100%;
            height: 120px; }
            #body .bg__main .container__carrousel .card .card-body a {
              font-size: 1.6rem; }
            #body .bg__main .container__carrousel .card .card-body h3 {
              font-size: 1.8rem; } }
      @media (max-width: 585px) {
        #body .bg__main .container__carrousel .carousel-control-next,
        #body .bg__main .container__carrousel .carousel-control-prev {
          height: 70%; } }
      @media (max-width: 430px) {
        #body .bg__main .container__carrousel .card .card-body a {
          font-size: 1.4rem; }
        #body .bg__main .container__carrousel .card .card-body h3 {
          font-size: 1.6rem; } }
      @media (max-width: 400px) {
        #body .bg__main .container__carrousel .card .card-body {
          height: 100px; } }
      @media (max-width: 330px) {
        #body .bg__main .container__carrousel .card .card-body a {
          font-size: 1.2rem; }
        #body .bg__main .container__carrousel .card .card-body h3 {
          font-size: 1.4rem; } }
    #body .bg__main .container__2, #body .bg__main .container__3 {
      margin-top: 10px;
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: none;
      align-self: center; }
      #body .bg__main .container__2 .div__ner, #body .bg__main .container__3 .div__ner {
        display: flex;
        justify-content: space-between;
        align-items: none;
        flex-flow: row;
        width: 48%; }
        #body .bg__main .container__2 .div__ner .div__cont, #body .bg__main .container__3 .div__ner .div__cont {
          width: 45%; }
          #body .bg__main .container__2 .div__ner .div__cont img, #body .bg__main .container__3 .div__ner .div__cont img {
            width: 100%;
            border-radius: 10px;
            border: #78b023 solid 0.1px; }
            #body .bg__main .container__2 .div__ner .div__cont img:hover, #body .bg__main .container__3 .div__ner .div__cont img:hover {
              transform: scale(0.985, 0.985);
              transition: 500ms;
              cursor: pointer; }
        #body .bg__main .container__2 .div__ner .a, #body .bg__main .container__3 .div__ner .a {
          margin-top: 8px;
          width: auto; }
          #body .bg__main .container__2 .div__ner .a a, #body .bg__main .container__3 .div__ner .a a {
            color: #ffebeb;
            text-decoration: none;
            font-size: 1.8rem;
            line-height: auto;
            width: 100%; }
            @supports (-webkit-hyphens: auto) or (hyphens: auto) {
              #body .bg__main .container__2 .div__ner .a a, #body .bg__main .container__3 .div__ner .a a {
                text-align: justify;
                -webkit-hyphens: auto;
                hyphens: auto; } }
            #body .bg__main .container__2 .div__ner .a a:hover, #body .bg__main .container__3 .div__ner .a a:hover {
              color: #78b023;
              font-weight: 500;
              transition-delay: 300ms; }
      @media (max-width: 1330px) {
        #body .bg__main .container__2 .div__ner .a a, #body .bg__main .container__3 .div__ner .a a {
          font-size: 1.6rem; } }
      @media (max-width: 1035px) {
        #body .bg__main .container__2 .div__ner .a a, #body .bg__main .container__3 .div__ner .a a {
          font-size: 1.4rem; } }
      @media (max-width: 991px) {
        #body .bg__main .container__2, #body .bg__main .container__3 {
          display: flex;
          flex-direction: column;
          align-items: none; }
          #body .bg__main .container__2 .div__ner, #body .bg__main .container__3 .div__ner {
            width: 100%;
            margin-bottom: 5px; }
            #body .bg__main .container__2 .div__ner .a, #body .bg__main .container__3 .div__ner .a {
              margin-top: 5px;
              width: auto; }
              #body .bg__main .container__2 .div__ner .a a, #body .bg__main .container__3 .div__ner .a a {
                font-size: 2rem; } }
      @media (max-width: 730px) {
        #body .bg__main .container__2 .div__ner .a a, #body .bg__main .container__3 .div__ner .a a {
          font-size: 1.6rem; } }
      @media (max-width: 670px) {
        #body .bg__main .container__2 .div__ner .a a, #body .bg__main .container__3 .div__ner .a a {
          font-size: 1.4rem; } }
      @media (max-width: 585px) {
        #body .bg__main .container__2, #body .bg__main .container__3 {
          display: flex;
          flex-direction: column;
          align-items: none; }
          #body .bg__main .container__2 .div__ner, #body .bg__main .container__3 .div__ner {
            display: flex;
            flex-direction: column;
            align-items: none; }
            #body .bg__main .container__2 .div__ner .div__cont, #body .bg__main .container__3 .div__ner .div__cont {
              display: flex;
              justify-content: space-between;
              align-items: none;
              width: 100%;
              padding-block: 10px;
              border-bottom: rgba(255, 235, 235, 0.323) 0.01px solid; }
              #body .bg__main .container__2 .div__ner .div__cont .div__img, #body .bg__main .container__3 .div__ner .div__cont .div__img {
                max-width: 40%; }
              #body .bg__main .container__2 .div__ner .div__cont .a, #body .bg__main .container__3 .div__ner .div__cont .a {
                width: 55%;
                margin-inline: 5px;
                margin-top: 0px;
                align-self: center; }
                #body .bg__main .container__2 .div__ner .div__cont .a a, #body .bg__main .container__3 .div__ner .div__cont .a a {
                  font-size: 1.8rem; } }
      @media (max-width: 500px) {
        #body .bg__main .container__2 .div__ner .div__cont .a a, #body .bg__main .container__3 .div__ner .div__cont .a a {
          font-size: 1.6rem; } }
      @media (max-width: 435px) {
        #body .bg__main .container__2 .div__ner .div__cont, #body .bg__main .container__3 .div__ner .div__cont {
          display: flex;
          flex-direction: column;
          align-items: none;
          width: 100%;
          padding-block: 10px;
          border-bottom: rgba(255, 235, 235, 0.323) 0.01px solid; }
          #body .bg__main .container__2 .div__ner .div__cont .div__img, #body .bg__main .container__3 .div__ner .div__cont .div__img {
            max-width: 100%; }
          #body .bg__main .container__2 .div__ner .div__cont .a, #body .bg__main .container__3 .div__ner .div__cont .a {
            width: 100%; }
            #body .bg__main .container__2 .div__ner .div__cont .a a, #body .bg__main .container__3 .div__ner .div__cont .a a {
              font-size: 2rem; } }
      @media (max-width: 385px) {
        #body .bg__main .container__2 .div__ner .div__cont .a a, #body .bg__main .container__3 .div__ner .div__cont .a a {
          font-size: 1.8rem; } }
      @media (max-width: 330px) {
        #body .bg__main .container__2 .div__ner .div__cont .a a, #body .bg__main .container__3 .div__ner .div__cont .a a {
          font-size: 1.6rem; } }
      @media (max-width: 275px) {
        #body .bg__main .container__2 .div__ner .div__cont .a a, #body .bg__main .container__3 .div__ner .div__cont .a a {
          font-size: 1.4rem; } }
  #body .section__index-w {
    background-color: rgba(43, 43, 43, 0.461); }
  #body .section__index-b {
    border-bottom: rgba(255, 235, 235, 0.323) 0.01px solid; }
  #body .section__rsl {
    display: flex;
    flex-direction: column;
    align-items: none;
    padding: 10px;
    margin-bottom: 40px;
    width: 100%; }
    #body .section__rsl .rsl__ttl {
      width: 80%;
      display: flex;
      align-self: center; }
    #body .section__rsl .rsl__ttl2 {
      text-align: justify; }
      #body .section__rsl .rsl__ttl2 h2 {
        color: #ffebeb;
        font-size: 1.6rem;
        margin-bottom: 1px; }
      #body .section__rsl .rsl__ttl2 span {
        color: #ffebeb;
        font-size: 1.4rem; }
    @media (max-width: 991px) {
      #body .section__rsl .rsl__ttl {
        width: 95%; } }
    @media (max-width: 768px) {
      #body .section__rsl .rsl__ttl {
        width: 100%; } }
    @media (max-width: 600px) {
      #body .section__rsl .rsl__ttl {
        width: 95%; } }
    @media (max-width: 585px) {
      #body .section__rsl .rsl__ttl {
        width: 90%; } }
  #body .rsl__div {
    width: 80%;
    align-self: center;
    display: flex;
    justify-content: space-evenly;
    align-items: none;
    background: linear-gradient(to bottom, #009900, #006600);
    border-radius: 20px; }
    #body .rsl__div .rsl__div2 {
      display: flex;
      flex-direction: column;
      align-items: none;
      width: 30%;
      padding: 10px;
      margin-block: 10px;
      background: linear-gradient(to bottom, #2cff2c, #288b28);
      border-radius: 20px;
      box-shadow: 3px 3px #060606; }
      #body .rsl__div .rsl__div2 .rsl__div3 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        align-self: center;
        overflow: hidden;
        margin-block: 5px; }
        #body .rsl__div .rsl__div2 .rsl__div3 span {
          color: #ffebeb;
          font-weight: 400;
          font-size: 1.2rem; }
    @media (max-width: 991px) {
      #body .rsl__div {
        width: 95%; } }
    @media (max-width: 768px) {
      #body .rsl__div {
        width: 100%; }
        #body .rsl__div .rsl__div2 {
          width: 32%;
          padding: 5px;
          margin-block: 5px; }
        #body .rsl__div .rsl__div3 {
          width: 100%; } }
    @media (max-width: 600px) {
      #body .rsl__div {
        width: 98%; }
        #body .rsl__div span {
          text-align: center;
          align-self: center; } }
    @media (max-width: 585px) {
      #body .rsl__div {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: none; }
        #body .rsl__div .rsl__div2 {
          width: 90%;
          align-self: center; }
        #body .rsl__div .rsl__div3 {
          width: 80%; } }
  #body .section__about-br, #body .section__about-b {
    display: flex;
    flex-direction: column;
    align-items: none;
    align-self: center;
    margin-block: 20px;
    padding: 10px;
    width: 100%; }
    #body .section__about-br h2, #body .section__about-b h2 {
      text-align: end;
      align-self: center;
      color: #ffebeb;
      font-weight: 400;
      width: 80%;
      margin-right: 30px;
      margin-bottom: 15px; }
    #body .section__about-br .container__4, #body .section__about-b .container__4 {
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: none;
      align-self: center; }
      #body .section__about-br .container__4 div, #body .section__about-b .container__4 div {
        width: 45%;
        display: flex;
        border-radius: 20px;
        box-shadow: 3px 3px #78b023; }
      #body .section__about-br .container__4 img, #body .section__about-b .container__4 img {
        width: 100%;
        border-radius: 20px; }
      #body .section__about-br .container__4 .div__p, #body .section__about-b .container__4 .div__p {
        padding-inline: 20px;
        background-color: rgba(43, 43, 43, 0.461); }
        #body .section__about-br .container__4 .div__p p, #body .section__about-b .container__4 .div__p p {
          color: #ffebeb;
          align-self: center;
          font-size: 2rem; }
          @supports (-webkit-hyphens: auto) or (hyphens: auto) {
            #body .section__about-br .container__4 .div__p p, #body .section__about-b .container__4 .div__p p {
              text-align: justify;
              -webkit-hyphens: auto;
              hyphens: auto; } }
      #body .section__about-br .container__4 .dd, #body .section__about-b .container__4 .dd {
        display: none; }
    @media (max-width: 1100px) {
      #body .section__about-br .container__4 .div__p p, #body .section__about-b .container__4 .div__p p {
        font-size: 1.7rem; } }
    @media (max-width: 991px) {
      #body .section__about-br h2, #body .section__about-b h2 {
        font-size: 2rem; }
      #body .section__about-br .container__4 .div__p p, #body .section__about-b .container__4 .div__p p {
        font-size: 1.3rem; } }
    @media (max-width: 768px) {
      #body .section__about-br h2, #body .section__about-b h2 {
        font-size: 1.8rem; }
      #body .section__about-br .container__4 div, #body .section__about-b .container__4 div {
        width: 48%; }
        #body .section__about-br .container__4 div p, #body .section__about-b .container__4 div p {
          font-size: 1.2rem; } }
    @media (max-width: 585px) {
      #body .section__about-br h2, #body .section__about-b h2 {
        text-align: center;
        align-self: center;
        font-size: 3rem;
        margin-right: 0px;
        margin-left: 0px; }
      #body .section__about-br .container__4, #body .section__about-b .container__4 {
        display: flex;
        flex-direction: column;
        align-items: none;
        justify-content: center;
        align-self: center;
        width: 100%; }
        #body .section__about-br .container__4 div, #body .section__about-b .container__4 div {
          width: 80%;
          align-self: center;
          margin-bottom: 20px; }
        #body .section__about-br .container__4 .div__p, #body .section__about-b .container__4 .div__p {
          min-height: 80%;
          height: 203.4px; }
          #body .section__about-br .container__4 .div__p p, #body .section__about-b .container__4 .div__p p {
            font-size: 1.8rem; } }
    @media (max-width: 380px) {
      #body .section__about-br h2, #body .section__about-b h2 {
        font-size: 2rem; }
      #body .section__about-br .container__4 .div__p p, #body .section__about-b .container__4 .div__p p {
        font-size: 1.5rem; } }
    @media (max-width: 295px) {
      #body .section__about-br .container__4 .div__p p, #body .section__about-b .container__4 .div__p p {
        font-size: 1.2rem; } }
  #body .section__about-b h2 {
    text-align: justify;
    margin-left: 30px;
    margin-right: 0px; }
  @media (max-width: 585px) {
    #body .section__about-b h2 {
      text-align: center;
      margin-left: 0px; }
    #body .section__about-b .container__4 .dn {
      display: none; }
    #body .section__about-b .container__4 .dd {
      display: flex; } }
  #body .footer {
    display: flex;
    justify-content: space-evenly;
    align-items: none;
    margin-top: auto;
    bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.4rem;
    color: #ffebeb;
    overflow-x: hidden;
    background-color: rgba(43, 43, 43, 0.461);
    width: 100%; }
    #body .footer h4 {
      margin-bottom: 20px;
      color: #78b023;
      align-self: center;
      width: 100%; }
    #body .footer .footer__addrs, #body .footer .footer__redes, #body .footer .footer__nav, #body .footer .footer__legal {
      width: 20%;
      text-align: center;
      padding-block: 20px; }
      #body .footer .footer__addrs .div__span, #body .footer .footer__redes .div__span, #body .footer .footer__nav .div__span, #body .footer .footer__legal .div__span {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: none;
        align-self: center; }
        #body .footer .footer__addrs .div__span span, #body .footer .footer__redes .div__span span, #body .footer .footer__nav .div__span span, #body .footer .footer__legal .div__span span {
          font-size: 3.5rem;
          height: 45px;
          margin-block: auto;
          color: #276608;
          font-family: "Bungee", cursive;
          text-shadow: 1px 1px #78b023; }
        #body .footer .footer__addrs .div__span .span_, #body .footer .footer__redes .div__span .span_, #body .footer .footer__nav .div__span .span_, #body .footer .footer__legal .div__span .span_ {
          font-size: 1.3rem;
          height: 25px; }
      #body .footer .footer__addrs address, #body .footer .footer__redes address, #body .footer .footer__nav address, #body .footer .footer__legal address {
        font-style: normal;
        color: #78b023;
        margin-block: 10px; }
    #body .footer .footer__redes {
      display: flex;
      flex-direction: column;
      align-items: none;
      padding: 10px; }
      #body .footer .footer__redes .div__redes {
        height: 30%;
        display: flex;
        justify-content: center; }
        #body .footer .footer__redes .div__redes a {
          align-self: center;
          text-decoration: none;
          margin-inline: 10px;
          width: 32px; }
          #body .footer .footer__redes .div__redes a img {
            width: 100%; }
      #body .footer .footer__redes .ms-auto,
      #body .footer .footer__redes .me-auto {
        margin-inline: auto; }
    #body .footer .footer__nav {
      padding-left: 0px;
      padding: 10px; }
      #body .footer .footer__nav ul {
        margin-top: 25px;
        padding-left: 0px; }
        #body .footer .footer__nav ul li {
          list-style: none;
          margin-top: 5px; }
          #body .footer .footer__nav ul li a {
            text-decoration: none;
            color: #ffebeb;
            font-size: 1.6rem; }
            #body .footer .footer__nav ul li a:hover {
              color: #d6d616;
              font-weight: 500;
              transition-delay: 250ms; }
    #body .footer .footer__legal {
      padding: 10px; }
      #body .footer .footer__legal div {
        max-width: 230px;
        margin-inline: auto;
        margin-top: 25px; }
        #body .footer .footer__legal div span {
          font-size: 1.4rem; }
          @supports (-webkit-hyphens: auto) or (hyphens: auto) {
            #body .footer .footer__legal div span {
              text-align: justify;
              -webkit-hyphens: auto;
              hyphens: auto; } }
    @media (max-width: 1040px) {
      #body .footer .footer__legal {
        width: 25%; }
        #body .footer .footer__legal div {
          max-width: 280px; } }
    @media (max-width: 991px) {
      #body .footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "addrs redes redes" "addrs fnav legal"; }
        #body .footer h4 {
          text-align: center;
          margin-bottom: auto; }
        #body .footer .footer__addrs, #body .footer .footer__redes, #body .footer .footer__nav, #body .footer .footer__legal {
          display: flex;
          flex-direction: column;
          align-items: none;
          justify-content: center;
          grid-area: addrs;
          width: 100%;
          height: 100%;
          border-right: #37c437 solid 1px; }
        #body .footer .footer__redes {
          grid-area: redes;
          width: 90%;
          margin-inline: auto;
          display: flex;
          flex-flow: wrap;
          border-bottom: #37c437 solid 1px;
          border-right: none; }
          #body .footer .footer__redes .div__redes {
            display: flex;
            justify-content: center;
            align-items: none;
            width: auto;
            margin-bottom: 0px; }
            #body .footer .footer__redes .div__redes a {
              margin-inline: 5px; }
          #body .footer .footer__redes .ms-auto,
          #body .footer .footer__redes .me-auto {
            margin-inline: 0px; }
        #body .footer .footer__nav {
          grid-area: fnav;
          width: 100%;
          border-right: none; }
          #body .footer .footer__nav ul {
            margin-top: 0px; }
        #body .footer .footer__legal {
          grid-area: legal;
          width: 100%;
          border-right: none; }
          #body .footer .footer__legal div {
            margin-top: 0px;
            max-width: 250px; } }
    @media (max-width: 768px) {
      #body .footer .footer__legal {
        display: flex; }
        #body .footer .footer__legal div {
          margin-bottom: auto;
          max-width: 200px; }
          #body .footer .footer__legal div span {
            font-size: 1.2rem; } }
    @media (max-width: 733px) {
      #body .footer {
        padding-top: 0px;
        padding-bottom: 0px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "addrs fnav" "redes legal"; }
        #body .footer .footer__addrs, #body .footer .footer__redes, #body .footer .footer__nav, #body .footer .footer__legal {
          border-right: #37c437 solid 1px;
          height: 100%; }
        #body .footer .footer__redes {
          width: 100%;
          height: 100%;
          padding: 20px;
          display: flex;
          border-bottom: none; }
          #body .footer .footer__redes .div__redes {
            width: 100%; }
        #body .footer .footer__nav {
          grid-area: fnav;
          width: 100%;
          height: 100%;
          border: none;
          padding: 20px; }
          #body .footer .footer__nav ul {
            margin-top: 0px;
            margin-bottom: auto; }
        #body .footer .footer__legal {
          grid-area: legal;
          width: 100%;
          height: 100%;
          padding: 20px;
          border: none; } }
    @media (max-width: 585px) {
      #body .footer {
        display: flex;
        flex-direction: column;
        align-items: none; }
        #body .footer h4 {
          width: auto;
          margin-inline: auto;
          align-self: center;
          margin-bottom: 10px;
          font-size: 2.5rem; }
        #body .footer .footer__addrs, #body .footer .footer__redes, #body .footer .footer__nav, #body .footer .footer__legal {
          padding: 5px;
          border: none; }
          #body .footer .footer__addrs address, #body .footer .footer__redes address, #body .footer .footer__nav address, #body .footer .footer__legal address {
            display: none; }
        #body .footer .footer__redes {
          width: auto;
          display: flex;
          justify-content: space-between;
          align-items: none;
          border: none; }
          #body .footer .footer__redes h4 {
            display: none; }
          #body .footer .footer__redes .div__redes {
            height: 10%;
            margin-block: 10px; }
          #body .footer .footer__redes .ms-auto,
          #body .footer .footer__redes .me-auto {
            margin-inline: auto; }
        #body .footer .footer__nav ul {
          margin-top: 0px; }
          #body .footer .footer__nav ul li a {
            font-size: 1.5rem; }
        #body .footer .footer__legal div {
          margin-top: 0px;
          max-width: 210px; }
          #body .footer .footer__legal div span {
            font-size: 1.4rem; } }
    @media (max-width: 295px) {
      #body .footer .footer__legal div {
        margin-top: 0px; }
        #body .footer .footer__legal div span {
          font-size: 1.2rem; } }
